/* use mixins for colors eventually */

table
	border-spacing: 0
	width: 100%

th
	padding: 1rem 2rem
	text-align: left

td
	border-bottom: .05rem solid
	padding: 1rem 2rem
	text-align: left

td:hover
	border-bottom: .1rem solid blue

tr:hover > td:first-of-type
	border-left: .1rem solid red
