/*blue button*/
.blue-button {
  border: 1px solid #063259;
  border-radius: 5px;
  padding: 10px;
  background: linear-gradient(to bottom,#0073d0 0,#00315c 100%);
  color: white;
  font-weight: bolder;
}

/*red button*/
.red-button {
  border: 1px solid #063259;
  border-radius: 5px;
  padding: 10px;
  background: linear-gradient(to bottom,#dd1818 0,#5a0906 100%);
  color: white;
  font-weight: bolder;
}


.red-button:active, .blue-button:active {
  outline: 1px solid linear-gradient(to bottom,#dd1818 0,#5a0906 100%);
}
