/* builds grid for desktop*/
@media screen and (min-width: 800px) {

    @for $i from 1 through 100 {
        .wid-#{$i} {
            width: percentage($i / 100);
            height: 100%;
         }
    }

}

/* builds mobile-grid*/
@for $i from 1 through 100 {
    .wid-#{$i} {
        width: 100%;
        height: 100%;
     }
}

/* contains wid-x elements  */
.row {
    width: 100%;
    max-width: 1200px;
}
